*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color:white
}
/*Top section*/
.section1{
    background-color: #101014;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    gap: 50px;
}
.section1 a{
    text-decoration: none;   
}
.section1 a h2{
    transition: 0.3s;
}
.section1 a h2:hover{
    color: gray;
    font-size: 25px;
}
.navBar{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navBar a{
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}
.navBar a:hover{
    color: gray;
    font-size: 20px;
}
/*Middel Section*/
.section2{
    position: relative;
    background-color: #101014;
    height: 900px;
}
.video-bg{
    position: absolute;
    filter: blur(70px);
    opacity: 0.4;
    z-index: 0;
    height: 700px;
    margin-top: 50px;
    margin-left: 450px;

}
.video-main{
    position: absolute;
    height: 530px;
    margin-left: 700px;
    margin-top: 80px;
    border-radius: 30px;
    z-index: 1;
}
.section2 div{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 250px;
    margin-top: 200px;
    z-index: 2;
}
.section2 div h2{
    font-size: 40px;
}
.section2 div p{
    font-size: 20px;
}

.section2 div button{
    color: rgb(0, 0, 0);
    background-color: rgb(47, 143, 254);
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    box-shadow: fliter;
    transition: 0.3s;
}
.section2 div button:hover{
    filter: drop-shadow(0px 0px 5px white);
    background-color: rgb(48, 207, 255);
}
.section2 div button:active{
    background-color: rgb(47, 143, 254);
}
.logos h2{
    position: absolute;
    margin-top: -140px;
    margin-left: 0px;
    font-size: 30px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: dashed white;
    border-bottom-left-radius: 10px;
    border-left: dashed white;
}
.logos{
    position: absolute;
    margin-top: 700px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    z-index: 2;
}
.Follow{
    position: absolute;
    margin-top: 740px;
    margin-left: 1600px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.Follow h2{
    font-size: 40px;
    padding-right: 10px;
    border-right: dashed white;
}

.Follow a img{
    width: 40px;
    height: 40px;
    transition: 0.5s;
}
.Follow a img:hover{
    filter: drop-shadow(0px 0px 10px white);
}

/*section3*/

.section3{
    border-top: dashed white;
    background-color: #101014;
    height: 1100px;
    position: relative;
}
.section3 h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-left: 60px;
    padding-top: 30px;
}
.products{
    width: 1400px;
    height: 900px;
    margin-left: 400px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    z-index: 1;
}
.products article{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    
    z-index: 1;
}
.products article img{
    width: 300px;
    height: 300px;
    transition: 0.5s;
}
.products article img:hover{
    width: 310px;
    height: 310px;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}
.section3_bg_video{
    position: absolute;
    margin-left: 50px;
    width: 1350px;
    opacity: 0.7;
    filter: blur(100px);
    margin-top: 30px;
    z-index: 0;
}

/*footer*/

footer{
    border-top: dashed white;
    border-bottom: dashed white;
    padding: 50px;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_leftSection p{
    font-size: 20px;
}
.footer_leftSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_rightSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_rightSection p{
    font-size: 20px;
}